<div class="container">
  <div class="border-bottom m-4">
    <div class="d-flex justify-content-between">
      <div class="m-4">
        <h1><%= @article.title %></h1>
      </div>
      <div class="m-4">
        <%= link_to 'Delete the article',
          article_path(@article),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "btn btn-danger"
        %>
        <%= link_to 'Edit your task', edit_article_path(@article), class: "btn btn-info text-white" %>
      </div>
    </div>
  </div>
  <div class="m-4">
    <p class="m-4"><%= @article.title%></p>
  </div>
</div>
