<nav class="navbar navbar-light bg-light">
  <%= link_to "Wikinimous", articles_path, class: "navbar-brand m-2" %>
  <button type="button" class="btn btn-primary">
    <%= link_to "New Article", new_article_path, class: "navbar-brand me-2 text-white" %>
  </button>
</nav>
